<a href="https://colab.research.google.com/github/emad550/AI_DS/blob/main/Emad_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we need to import some libraries

In [3]:
#Please open Use Google Colab
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

We need to extract data

In [1]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
data=pd.read_excel("/content/drive/My Drive/50ulke.xlsx")
data.head()

   Unnamed: 0       Countries  ...  Per person      Continent
0           0   United States  ...       62152  North America
1           1           China  ...       10088           Asia
2           2           Japan  ...       40849           Asia
3           3         Germany  ...       50842         Europe
4           4  United Kingdom  ...       44177         Europe

[5 rows x 6 columns]

Then start exploratory data analysis

In [ ]:
data.info()
#no null value 
data.groupby('Continent').sum()

In [ ]:
data.describe()
#Gab between min and max income very high

In [ ]:
fig,ax=plt.subplots(1,2,sharey=True)
data.plot(kind='scatter',x='Growth',y='National Income',ax=ax[0],figsize=(16,8))
data.plot(kind='scatter',x='Per person',y='National Income',ax=ax[1])
#Let us discover more relation

In [ ]:
def bar(x,y):
  fig=plt.figure(figsize=(16,12))
  fig=px.bar(x=data[x],y=data[y],color=data[x])
  fig.show()

In [ ]:
bar('Countries','National Income')

In [ ]:
bar('Continent','National Income')

In [ ]:
px.box(data['Growth'],data['Continent'],color=data['Continent'],points='outliers')

let us discover more relation between National Income and Per person

In [ ]:
sns.jointplot(y='National Income',x='Per person',data=data,kind='scatter')
#this draw as shown no useless

In [ ]:
sns.pairplot(data)
# we can find here relation between Growth and Per Person

In [ ]:
df = px.data.gapminder()
fig = px.choropleth(data, locations="Countries", locationmode="country names",color='National Income',hover_data=['Countries','Continent','Growth','Per person']
                     
                    )
fig.show()

In [ ]:
data.hist(color='r',bins=20,figsize=(16,12))